<div id="cambiarTelefono" class="formulario">
    <h2>Cambiar Teléfono</h2>
    <form id="formCambiarTelefono" method="post">
        <div class="form-group">
            <label for="telefono">Nuevo Teléfono:</label>
            <input type="text" id="telefono" name="telefono" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Teléfono</button>
    </form>
    <div id="resultadoTelefono"></div>
</div>