<div id="cambiarContrasena" class="formulario">
    <h2>Cambiar Contraseña</h2>
    <form id="formCambiarContrasena" method="post">
        <div class="form-group">
            <label for="contrasenaActual">Contraseña Actual:</label>
            <input type="password" id="contrasenaActual" name="contrasenaActual" class="form-control" />
        </div>
        <div class="form-group">
            <label for="nuevaContrasena">Nueva Contraseña:</label>
            <input type="password" id="nuevaContrasena" name="nuevaContrasena" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
    <div id="resultadoContrasena"></div>
</div>