@model PROYECTOISW.Models.ViewModels.RCViewModels.ValidarTokenViewModel
<h1>Validar token</h1>

<form asp-action="ValidarToken" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Correo" type="hidden" />
    <div class="mb-5">
        <label asp-for="Token" class="form-label"></label>
        <input asp-for="Token" class="form-control" placeholder="Ingresar Token" type="text" />
        <span asp-validation-for="Token" class="text-danger"></span>
    </div>
    <div class="mb-5">
        <button type="submit" class="btn btn-primary">Verificar</button>
    </div>
    @if (!string.IsNullOrEmpty(ViewBag.Invalido))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Invalido
        </div>
    }
</form>
@if (ViewBag.TokenValido == true)
{
    <div>
        @await Html.PartialAsync("_RestablecerContraseña", new PROYECTOISW.Models.ViewModels.RCViewModels.CambiarContraseñaViewModel())
    </div>
}


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}