@model IEnumerable<PROYECTOISW.Models.Propiedade>
<div class="container">
    <div class="row">
        @foreach (var property in Model)
        {
            <div class="clo-md-4 mb-4">
                <div class="card">
                    
                </div>
            </div>
        }
    </div>
</div>