@model IEnumerable<PROYECTOISW.Models.Propiedade>
<div class="container">
    <div class="row">
        @foreach (var property in Model)
        {
            <div class="clo-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => property.PrecioRenta)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => property.Descripcion)</h6>
                    </div>
                </div>
            </div>
        }
    </div>
</div>